.mr-auto{
    font-size: 28px;
}

.bg-light {
    background-color: #7199c1!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.brand-pic {
    width: 16%;
}

.navbar-brand{
    margin-right: 25rem;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .5rem;
}
