.jumbotron {
    margin-bottom: 4em;
    width: 100%;
  }

.person-wrapper {
    margin-bottom: 2em;
}
  
.profile-pic {
    width: 20%;
}
  
  
.me {
    font-family: 'Indie Flower', cursive;
    margin-bottom: 1em;
}

