.blog-post {
    float: right;
    margin-top: 15px;
    width: 90%;
}

.blog-post div {
    padding-top: 10px;
}

.blog-icon {
    float: right;
    margin-top: 5px;
    max-width: 130px;
}

.card-text {
    grid-template-columns: 4fr 2fr;
}

