.navbar {
    background-color: white;
    display: 'contents';
  }

.mr-auto {
    background-color: white;
    display: 'contents';
    font-size: 19px;
    
}

.nav-link {
    color: #0022aa;
}

.bg-light {
    background-color: white;
}


// .nav-link {
    
//     font-size: 16;
//     display: 'contents';
//     background-color: white;
// }

// .basic-navbar-nav{
//     background-color: white;
//     display: 'contents';
// }